body{
  background: #F8F8F8;
  height: 100%;
}
@font-face {
    font-family: neutra;
    src: url(neutra.ttf);
}

.sample-selection{
	padding: 0 0;
}
.left-help{
  min-height: 1000px;
  border-right: solid 1px rgba(0,0,0,0.14902);
  border-left: solid 1px rgba(0,0,0,0.14902);
  padding: 0 0 0 0;
  background: white;
}
.left-help-header{
	margin: 0 0 0 0;
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
	border-bottom: solid 1px rgba(0,0,0,0.14902);
}
.left-help-header .help-title{
	font-size: 1.3em;
	margin: 10px 0;
	padding: 0 0 0 0;
	color: rgb(150,150,150);
	text-align: center;
}
.help-title:not(.active){
	display: none;
}
.help-wrapper{
	margin: 5px 0 0 0;
	padding: 20px 0px;
}

.help-content{
	padding: 0 30px;
}
.technical{
	background: rgb(240, 250, 255);
	padding-bottom: 10px;
	margin-top: 50px;
	border-top: solid 1px rgb(197, 223, 234);
	border-bottom: solid 1px rgb(197, 223, 234);
}
.technical-header{
	margin: auto;
	height: 32px;
	position: relative;
	top: -16px;
}
.technical-header-center{
	background: white;
	border: solid 1px rgb(197, 223, 234);
	width: 150px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	height: 32px;
	padding-top: 4px; 
}
.technical-content{
	padding: 0 30px;
}



.main-selection{
	width: 55%;
	margin: 10px 0 0 25px;
	padding: 0 0;
	/*border-left: solid 2px rgba(0,0,0,0.4);*/
}
.main-header{
/*	border: solid 1px rgba(0,0,0,0.4);
	border-radius: 5px;*/
	margin: 10px 10px 20px 0;
}
.main-header-product img{
	display: block;
	width: 90%;
}
.main-header-product div{
	font-size: 1.3em;
	margin-top: 10px;
}
.main-header-step img{
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 5px;
	opacity: 0.5;
}
.main-header-step .active img{
	opacity: 1;
}
.main-header-step .active .caption{
	font-weight: bold;
}
.main-header-step .caption{
	margin: 5px 0; 
	font-size: 0.9em;
	text-align: center;
}
.selector-wrapper{
	position: relative;
	display: inline-block;
	top: 0;
	left: -2px;
	width: 12px;
    height: 21px;
    background-color: #F8F8F8;
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    border: 2px solid rgba(0,0,0,0.4);
    border-left: 0;
    float: left;
}
.selector{
	position: relative;
	left: -7px;
	top: 1px;
	width: 15px;
    height: 15px;
    background-color: #F8F8F8;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.4);
}
.active .selector{
	background-color: rgba(255,85,85,1);
	border: 1px solid rgba(0,0,0,0.4);
}
.selection{
	padding: 10px 0 10px 0;
	min-height: 90px;
	border-left: solid 2px rgba(0,0,0,0.4);
}
.selection *{
	z-index: 20;
	-webkit-user-select: none;
}
.selection.active{
	color: white;
}
.selection-title{
	position: relative;
	padding-left: 20px;
	font-size: 1.5em;
}
.user-select{
	position: relative;
	padding-left: 20px;
}
.form-group{
	margin-bottom: 0;
}
.country, .target-group{
	margin-top: 10px;
}
.slider{
	margin: 20px 0 0 0;
}
.slider .slider-selection {
	background: #BABABA;
}
.tooltip{
	z-index: 900;
}
.addmargin{
	margin-left: 10px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
#magic-line{ 
	position: absolute; 
	top: 0; 
	left: 2px;  
	background: rgba(0, 157, 220, 0.9); 
	z-index: 10;
	min-height: 80px; 
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.next-step{
	margin: 20px 0;
}


.project-info{
	margin: 40px 0 0 0;
	background: rgba(0,0,0,0.03);
	padding: 5px 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.price{
	border-right: solid 1px rgba(0,0,0,0.3);
}
.project-info span{
	font-size: 2.3em;
}
.price-symbol{
	color: #63CDF5;
}
.price-tooltip{
	position: relative;
	top: -5px;
	font-size: 0.9em;
	text-align: center;
}

