body{
  background: #F8F8F8;
  height: 100%;
}
@font-face {
    font-family: neutra;
    src: url(neutra.ttf);
}

.sample-selection{
	padding: 0 0;
}
.left-help{
  min-height: 750px;
  border-right: solid 1px rgba(0,0,0,0.14902);
  border-left: solid 1px rgba(0,0,0,0.14902);
  padding: 0 0 0 0;
  background: white;
}
.left-help-header{
	margin: 0 0 0 0;
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
	border-bottom: solid 1px rgba(0,0,0,0.14902);
}
.left-help-header .help-title{
	font-size: 1.3em;
	margin: 10px 0;
	padding: 0 0 0 0;
	color: rgb(150,150,150);
	text-align: center;
}
.help-title:not(.active){
	display: none;
}
.help-wrapper{
	margin: 5px 0 0 0;
	padding: 20px 0px;
}

.help-content{
	padding: 0 30px;
}
.technical{
	background: rgb(240, 250, 255);
	padding-bottom: 10px;
	margin-top: 50px;
	border-top: solid 1px rgb(197, 223, 234);
	border-bottom: solid 1px rgb(197, 223, 234);
}
.technical-header{
	margin: auto;
	height: 32px;
	position: relative;
	top: -16px;
}
.technical-header-center{
	background: white;
	border: solid 1px rgb(197, 223, 234);
	width: 150px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	height: 32px;
	padding-top: 4px; 
}
.technical-content{
	padding: 0 30px;
}



.main-selection{
	margin: 10px 0 0 25px;
	padding: 0 0;
	border-left: solid 2px rgba(0,0,0,0.4);
}
.selector-wrapper{
	position: relative;
	display: inline-block;
	top: 1em;
	left: -2px;
	width: 12px;
    height: 21px;
    background-color: #F8F8F8;
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    border: 2px solid rgba(0,0,0,0.4);
    border-left: 0;
    float: left;
}
.selector{
	position: relative;
	left: -7px;
	top: 1px;
	width: 15px;
    height: 15px;
    background-color: #F8F8F8;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.4);
}
.active .selector{
	background-color: rgba(255,85,85,1);
	border: 1px solid;
}
.selection{
	padding: 10px 0 10px 0;
	min-height: 90px;
}
.selection *{
	z-index: 100;
}
.selection.active{
	/*background: rgba(0,0,0,0.1);*/
}
.selection-title{
	padding-left: 20px;
	font-size: 1.5em;
}
.user-select{
	position: relative;
	padding-left: 20px;
}
.form-group{
	margin-bottom: 0;
}
.slider{
	margin: 25px 0 0 15px;
}
.slider .slider-selection {
	background: #BABABA;
}
.tooltip{
	z-index: 900;
}
.addmargin{
	margin-left: 10px;
}
.form-group:after {
  content: "";
  display: table;
  clear: both;
}

#magic-line{ 
	position: absolute; 
	top: 0; 
	left: 0;  
	background: rgba(0,0,0,0.1); 
	z-index: 10;
	min-height: 80px; 
}