.navbar{
  border-radius: 0;
  background: url(../image/bg-dark.png) repeat;
  margin-bottom: 0;
}
.open a{
  background: transparent !important;
}
.navbar-brand{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 100px;
  height: 60px;
  background: url(../image/zappi.png) no-repeat;
  background-size: contain;
}
.navbar-nav{
  height: 80px;
  font-size: 17px;
  z-index: 1010;
}
.navbar-nav li{
  height: 80px;
  padding-top: 25px;
}
.navbar-title > a{
  text-transform: uppercase;
  color: white !important;
}
.navbar-nav li a:hover,.navbar-nav li a.hover {
  color: #999999 !important;
}
.buttons{
  margin-top: 15px;
}
.buttons .btn{
  width: auto;
  margin-top: 8px;
  text-transform: uppercase;
}
.btn-cyan{
  background-color: #63CDF5;
  color: white;
  text-transform: uppercase;
}
.btn-cyan:hover{
  color: white;
  background-color: #4EB3D8;
}
.dropdown-menu.dropdown-about{
  text-transform: uppercase;
  background-color: rgba(34,34,34,0.95);
  width: 300px;
  border-radius: 0;
  left: -30px;
  padding: 10px 0 20px 0;
}
.dropdown-menu ul{
  list-style: none;
  padding-left: 10px;
}
.dropdown-menu li{
  height: auto;
  padding-top: 5px;
  padding-left: 5px;
} 
.dropdown-menu li a{
  color: white;
  text-decoration: none;
}
.dropdown-menu li a:hover{
  background: transparent;
  color: #F8F8F8;
}
.dropdown-menu.dropdown-products{
  background-color: rgba(34,34,34,0.95);
  width: 700px;
  border-radius: 0;
  left: -70px;
  padding: 0 0 0 0;
}
.dropdown-products p{
  padding-left: 20px;
}
.dropdown-left{
  padding: 15px 10px;
  text-transform: uppercase;
  position: static;
}
.dropdown-left .btn{
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.dropdown-right{
  display: block;
  height: 100%;
  padding: 10px 0;
  color: black;
  display: inline-block;
  background: white;
  -webkit-user-select: none;
  padding-bottom: 20px;
}
.dropdown-category{
  font-weight: bold;
  color: #4EB3D8 !important;
  text-transform: uppercase;
  cursor: default;
  margin-bottom: 15px;
}
.dropdown-right a{
  display: block;
  width: 100%;
  color: black !important;
  cursor: pointer;
  text-decoration: none;
}
.dropdown-right li+li:hover{
  background: #E4F2F8 !important;
}
.dropdown-right ul li a:hover{
  color: black !important;
}
