body{
  background: #F8F8F8;
}

.navbar-brand{
  padding: 0;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 130px;
  height: 68px;
  background-size: 130px 68px;
  background-image: url(../image/zappi.png);
}
.navbar-nav{
  padding-top: 50px;
  font-size:  1.5em;
  color: white;
}
.navbar-nav li{
  padding-bottom: 10px;
}
.buttons{
  margin-top: 15px;
}
.buttons .btn{
  width: 80%;
  margin-top: 5px;
} 
nav.shrink .navbar-brand{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 100px;
  height: 51px;
  background-size: 100px 51px;
}
nav.shrink .navbar-nav{
  padding-top: 12px;
  font-size: 17px;
}
nav.shrink .btn{
  width: auto;
}  
.dropdown-menu{
  background-color: rgba(34,34,34,0.95);  
  float: none;
  left: -300px;
  width: 2000px;
}
.dropdown-menu li{
  padding: 0 0;
  display: inline-block;
} 
.dropdown-menu li:first-child{
  margin-left: 300px
}
.dropdown-menu li a{
  color: #777;
  padding-top: 7px;
}



.carousel{
  margin-top: 108px;
} 
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-indicators li{
    border: 1px solid rgba(0,0,0,0.3);
    float: right;
}
.carousel-indicators .active{
    border: 1px solid rgba(0,0,0,0.3);
    float: right;
    background: rgba(255,85,85,1);
}



h1{
  font-size: 1.5em;
}
.separator{
  position: relative;
  top: -15px;
}
.buynow{
  background: #A42171;
  color: #FFF ;
}
.featured{
  width: 32%;
}
.featured-middle{
  margin: 0 2% 0 2%;
}
.panel-body{
  height: 230px;
  padding: 0;
}
.conversion{
  background: url(../image/conversion.png)no-repeat center;
  background-size: auto 100%;
}
.impack{
  background: url(../image/impack.png) no-repeat center;
  background-size: auto 100%;
}
.estatic{
  background: url(../image/estatic.png) no-repeat center;
  background-size: auto 100%;
}

.research{
  width: 24%;
  margin-right: 1.33%
}
.research:last-of-type{
  margin-right: 0;
}
.panel-heading{
  background-color: white !important;
}
.panel-heading strong{
  font: 1.5em bold;
  font-family: arial-black;
}
.toniclogo{
  height: 50px;
  background: url(../image/toniclogo.png) no-repeat;
  background-size: 80% ;
}
.npd{
  height: 207px;
  background: url(../image/npd.png) no-repeat center;
  background-size: 100%;
}
.chooseit{
  height: 207px;
  background: url(../image/chooseit.png) no-repeat center;
  background-size: 100%;
}
.creative{
  height: 207px;
  background: url(../image/creative.png) no-repeat center;
  background-size: 100%;
}
.tonic{
  height: 207px; 
  background: url(../image/tonic.png) no-repeat center;
  background-size: 100%;
}