.navbar-brand{
  padding: 0;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 130px;
  height: 68px;
  background-size: 130px 68px;
  background-image: url(../image/zappi.png);
}
.navbar-nav{
  padding-top: 50px;
  font-size:  20px;
  color: white;
}
.navbar-nav li{
  padding-bottom: 10px;
}  
.btn{
  margin-top: 20px;
} 
nav.shrink .navbar-brand{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 100px;
  height: 51px;
  background-size: 100px 51px;
}
nav.shrink .navbar-nav{
  padding-top: 12px;
  font-size: 17px;
}
nav.shrink .btn-block{
  display: inline;
}  
nav.shrink .buttons{
  margin-top: 20px;
}
.dropdown-menu{
  background-color: #222;
  padding: 0 0 10px 0;
}
.dropdown-menu li{
  padding: 0 0;
}  
.dropdown-menu li a{
  color: #777;
  padding-top: 7px;
}






.carousel{
  margin-top: 108px;
} 
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-indicators li{
    border: 1px solid #000;
}
